{% extends 'admin.html.twig' %}

{% block title %}Etablissement{% endblock %}

{% block body %}
    <div class="main-panel">

        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Voir un établissement</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>nom</label>
                                            <div>
                                                {{ establishement.name }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>email</label>
                                            <div>
                                                {{ establishement.email }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>type</label>
                                            <div>
                                                {{ establishement.type }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>téléphone</label>
                                            <div>
                                                {{ establishement.telephon }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>addresse</label>
                                            <div>
                                                {{ establishement.address }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Code postal</label>
                                            <div>
                                                {{ establishement.zipCode }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>ville</label>
                                            <div>
                                                {{ establishement.city }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>région</label>
                                            <div>
                                                {{ establishement.region }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>département</label>
                                            <div>
                                                {{ establishement.department }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>note</label>
                                            <div>
                                                {{ establishement.notation }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>status</label>
                                            <div>
                                                {{ establishement.status }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>groupe</label>
                                            <div>
                                                {{ establishement.groupe }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>gir</label>
                                            <div>
                                                {{ establishement.gir }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>services</label>
                                            <div>
                                                {% for service in establishement.services %}
                                                    {{ dump(service) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'block/button.html.twig' with {
                    'name': 'establishement',
                    'entity': establishement,
                    'no_show': 1
                } %}
            </div>
        </div>
    </div>
{% endblock %}
