{% extends 'admin.html.twig' %}

{% block title %} Groupe {% endblock %}

{% block body %}

    <div class="main-panel">

        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Liste des groupes</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hover mb-10">
                            <a href="{{ path('groupe_new') }}" class="btn btn-primary btn-fill">Ajouter un groupe</a>
                            <span class="toggle_filter pl-10">
                                Filtrer
                        </span>
                            <a href="{{ path('groupe_export') }}{{ stringResponse }}" class="btn btn-success btn-fill pull-right">Exporter</a>      
                        </div>                        
                        <div class="card p-10" id="filter-block">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ form_label(form.name) }}</label>
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form_label(form.email) }}</label>
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form_label(form.phone) }}</label>
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form_label(form.city) }}</label>
                                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info btn-fill pull-right">Filtrer</button>
                                <a href="{{ path('groupe_index') }}" class="btn btn-warning">Réinitialiser</a>
                                <div class="clearfix"></div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                        </div>

                        <div class="card">
                            <div class="content table-responsive table-full-width">

                                <div class="pr-10">
                                    {% include 'block/pagination.html.twig' with {
                                        'name' : 'groupe'
                                    } %} 
                                </div>
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>
                                            <span>ID</span>
                                        </th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Téléphone</th>
                                        <th>Ville</th>
                                        <th>Nb etablisement</th>
                                        <th>Nb candidature</th>
                                        <td>Action</td>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities.results %}
                                            <tr>
                                                <td>
                                                    <span>{{ entity.id }}</span>
                                                </td>
                                                <td>{{ entity.name }}</td>
                                                <td>{{ entity.email }}</td>
                                                <td>{{ entity.phone }}</td>
                                                <td>{{ entity.city[:50] }}</td>
                                                <td>{{ entity.countEstablishement }}</td>
                                                <td>{{ entity.countCandidacies }}</td>
                                                <td>
                                                    {% include 'block/button.html.twig' with {
                                                        'name' : 'groupe'
                                                    } %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}