{% extends 'admin.html.twig' %}

{% block title %}Ajouter/Modifier un gir{% endblock %}

{% block body %}

    <div class="main-panel">

        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ajouter/Modifier un gir</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content">
                            	{{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>{{ form_label(form.one) }}</label>
												{{ form_widget(form.one, {'attr': {'class': 'form-control'}}) }}
												{{ form_errors(form.one) }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{ form_label(form.two) }}</label>
												{{ form_widget(form.two, {'attr': {'class': 'form-control'}}) }}
												{{ form_errors(form.two) }}
                                            </div>

                                            <div class="form-group">
                                                <label>{{ form_label(form.three) }}</label>
												{{ form_widget(form.three, {'attr': {'class': 'form-control'}}) }}
												{{ form_errors(form.three) }}
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Enregister</button>
                                    <div class="clearfix"></div>
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                            </div>
                        </div>
                        <a href="{{ path('gir_index') }}" class="btn btn-warning btn-fill">Retour a la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}