<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/light-bootstrap-dashboard.css?v=1.4.0') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pe-icon-7-stroke.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin-personnal.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue">
        <div class="sidebar-wrapper background-sidebar-wrapper">
            <div class="logo">
                <a class="simple-text text-align">
                    ADMINISTRATION
                </a>
                <div class="center">
                    <div class="position-logo">
                        <img src="{{ asset('img/logo-new.png') }}" width="100px">
                    </div>
                </div>
            </div>

            <ul class="nav">
                <li>
                    <a href="{{ path('service_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les services</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('gir_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les girs</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('note_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les avis</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('groupe_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les groupes</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('establishement_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les établissements</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('candidacy_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les candidatures</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_user_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les utilisateurs</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('content_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les contenus</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('statistic_index') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Les statistiques</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% block body %}{% endblock %}
</div>

</body>
    {% block javascripts %}
        <script type="text/javascript">
            $(
                function(){
                    $('.draganddrop').sortable({
                        stop: function(event, ui){
                            console.log(ui.item.index());
                        }
                    });
                    $('.draganddrop').disableSelection();
                }
            )
        </script>
    {% endblock %}
</html>